
@font-face {
    font-family: PUSG-FONT;
    src: url(../app/Assets/Teko-VariableFont_wght.ttf);
    font-weight: 600;
}

body{
    background-color: black;
    color: white;
    font-family: PUSG-FONT;
}